@model ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}
<br />
<div class="text-center">
    <br />
    <h1 class="display-4">Editando <strong>@Model.Nome</strong></h1>
</div>
<div>
    <form asp-controller="Contato" asp-action="Alterar" method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" asp-for="Bairro" class="form-control" placeholder="Digite o bairro">
            @Html.ValidationMessageFor(x => x.Bairro)
        </div>
        <br />
        <div class="form-group">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" asp-for="Cidade" class="form-control" placeholder="Digite a cidade">
            @Html.ValidationMessageFor(x => x.Cidade)
        </div>
        <br />
        <div class="form-group">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="tel" asp-for="Telefone" class="form-control" placeholder="(xx) xxxxx-xxxx">
            @Html.ValidationMessageFor(x => x.Telefone)
        </div>
        <div class="form-group">
            <label for="tipo" class="form-label">Serviço</label>
            <input type="text" asp-for="Tipo" class="form-control" placeholder="Venda, Prospecção...">
            @Html.ValidationMessageFor(x => x.Tipo)
        </div>
        <div class="mb-3">
            <label for="relato" class="form-label">Observações</label>
            <textarea asp-for="Observacao" class="form-control" rows="3"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Editar</button>
        <a class="btn btn-danger" role="button" asp-action="Index" asp-controller="Contato">Cancelar</a>
    </form>
</div>